html { 
    background: url('https://wallpaperset.com/w/full/a/8/4/38610.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.footer {
    border-top-style: solid;
    border-width: thick;
    border-color: teal;
    padding-top: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(65, 65, 65);
    color: rgb(102, 102, 102);
    text-align: center;
    position: fixed;
}

header nav h1 {
    background-color: teal; 
    color: white; 
    font-family: 'Courier New', Courier, monospace;
}

#navbarToggleExternalContent {
    font-family: 'Courier New', Courier, monospace;
}

.navbar {
    background-color: lightgray; padding: 17px; border-style:ridge; border-color: rgb(65, 65, 65);
}

#background { 
    background: url('https://wallpaperset.com/w/full/a/8/4/38610.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

#jumbotron {
    margin-top:10rem; 
    margin-bottom:10rem;
}

#aboutMe {
    color: teal; 
    font-family: 'Courier New', Courier, monospace; 
    margin-left:45px;
    font-size:7vw;
}

.pull-left {
    float:left;
    width:50%; 
    margin: 0px 23px 0px 30px;
}

p {
    margin: 0px 30px 30px 30px; 
    font-family:Verdana, 'Geneva', Tahoma, sans-serif;
}

.col-6 img {
    margin-bottom: 30px;
}

