.footer {
    border-top-style: solid;
    border-width: thick;
    border-color: teal;
    padding-top: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(65, 65, 65);
    color: white;
    text-align: center;
}


.pull-left {
    float:left;
}

